---
import { PasswordUpdateForm } from "../../../features/auth/components/password-update-form";
import MainLayout from "../../../layout/main-layout.astro";

const isUserLoggedIn = !!Astro.locals.userId;

if (!isUserLoggedIn) {
  return Astro.redirect("/login");
}
---

<MainLayout title="Update Password" description="Update Password">
  <h1 class="my-10 text-3xl font-bold text-center">Update Password</h1>

  <section>
    <PasswordUpdateForm client:load />
  </section>
</MainLayout>
