---
import MainLayout from "../../layout/main-layout.astro";
import Login from "../../components/login-form";
---

<MainLayout title="Log in" description="Log in">
  <div class="flex h-[400px] items-center justify-center flex-col">
    <h1 class="text-3xl font-bold">Log in</h1>
    <Login client:load />
  </div>
</MainLayout>
