---
import MainLayout from "../layout/main-layout.astro";
---

<MainLayout title="Account Page" description="Account Page">
  <h1 class="my-10 text-3xl font-bold text-center">Manage Account</h1>
</MainLayout>
