---
import MainLayout from "../layout/main-layout.astro";
---

<MainLayout title="Astro Auth" description="Auth in Astro">
  <div class="flex h-[400px] items-center justify-center flex-col">
    <h1 class="text-3xl font-bold">Exploring auth in Astro</h1>

    <a
      href="/login"
      class="px-7 py-3 text-white rounded-md my-5 bg-blue-600 hover:scale-95 transition-all ease-in-out duration-75"
    >
      Login
    </a>
  </div>
</MainLayout>
