---
import MainLayout from "../layout/main-layout.astro";
import { getSessionInfo } from "../features/auth/services/session";
import { getUserProfile } from "../features/auth/services/user";
import { AUTH_COOKIES } from "../features/auth/constants";

const sessionToken = Astro.cookies.get(AUTH_COOKIES.SESSION_TOKEN)?.value;

const sessionInfo = await getSessionInfo(sessionToken);

if (!sessionInfo || !sessionInfo.user) {
  return Astro.redirect("/login");
}

const userProfileInfo = await getUserProfile(sessionInfo.user.id);

if (!userProfileInfo) {
  return Astro.redirect("/login");
}
---

<MainLayout title="Profile" description="Profile">
  <div class="flex mt-14 items-center justify-center flex-col">
    <h1 class="text-3xl font-bold mb-5">Profile</h1>

    <form
      id="profile-form"
      class="w-full max-w-2xl"
      action="/api/profile"
      method="post"
    >
      <label class="block mt-5 text-gray-600" for="email">Email</label>
      <input
        type="text"
        class="border-2 border-slate-400 rounded-md px-2 py-3 w-full"
        name="email"
        placeholder="Email"
        value={userProfileInfo.email}
        id="email"
        readonly
      />
      <label class="block mt-5 text-gray-600" for="fullName">Your Name</label>
      <input
        type="text"
        class="border-2 border-slate-400 rounded-md px-2 py-3 w-full"
        name="fullName"
        placeholder="Your Full Name"
        value={userProfileInfo.fullName}
        id="fullName"
      />

      <div class="flex justify-end my-5">
        <button class="bg-black px-6 py-2 rounded-md text-white">Save</button
        >
      </div>
    </form>
  </div>
</MainLayout>

<script>
  const profileForm = document.getElementById("profile-form");

  profileForm?.addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = new FormData(e.target as HTMLFormElement);

    const res = await fetch("/api/profile", {
      method: "POST",
      body: JSON.stringify(Object.fromEntries(formData)),
    });

    const resData = await res.json();

    const formUpdateStatus = document.createElement("div");

    formUpdateStatus.className =
      "status px-3 my-5 text-center w-fit rounded-md py-2 flex items-center justify-center text-white";

    if (res.status === 200) {
      window.location.href = "/account";
    }
  });
</script>
