---
import MainLayout from "../layout/main-layout.astro";
import { aesDecrypt, EncryptionPurpose } from "../lib/aes";
import { getRecoveryCodes } from "../features/auth/services/recovery-codes";
import { getUserById } from "../features/auth/services/user";
const userId = Astro.locals?.userId;

if (!userId) {
  return Astro.redirect("/login?redirect=/recovery-codes");
}

const currentUser = await getUserById(userId);

if (!currentUser) {
  return Astro.redirect("/login?redirect=/recovery-codes");
}

const recoveryCodes = await getRecoveryCodes(userId);
---

<MainLayout title="Recovery Codes" description="Recovery Codes">
  <h1 class="my-10 text-3xl font-bold text-center">Recovery Codes</h1>

  {
    recoveryCodes.length === 0 ? (
      <div class="flex flex-col items-center justify-center">
        <p class="mt-5 mb-3 text-center">
          Enable Two Factor Auth to Set up Recovery Codes
        </p>

        <a href="/account" class="bg-black px-3 py-2 text-white rounded-md">
          Go to Account Page
        </a>
      </div>
    ) : (
      <div class="w-full max-w-xl mx-auto flex flex-col">
        <div class="flex items-center gap-3">
          <h3 class="my-5 text-xl font-bold">Exisiting Codes</h3>
          <a
            href="/api/auth/two-factor/recovery-codes/download"
            class="bg-black text-white rounded-md px-3 py-2"
          >
            Download Code
          </a>
          <button
            id="rotate-code"
            class="bg-red-700 text-white rounded-md px-3 py-2"
          >
            Rotate Code
          </button>
        </div>
        {recoveryCodes.map((code) => (
          <p>{aesDecrypt(code.code, EncryptionPurpose.RECOVERY_CODE)}</p>
        ))}
      </div>
    )
  }
</MainLayout>

<script>
  const rotateCodeBtn = document.getElementById("rotate-code");
  const handleRotateCode = async () => {
    await fetch("/api/auth/two-factor/recovery-codes", {
      method: "PUT",
    });

    window.location.reload();
  };
  rotateCodeBtn?.addEventListener("click", handleRotateCode);
</script>
