---
import { eq } from "drizzle-orm";
import { db } from "../db";
import { recoveryCodes, users } from "../db/schema";
import MainLayout from "../layout/main-layout.astro";
import { aesDecrypt, EncryptionPurpose } from "../lib/encrypt";

const userId = Astro.locals?.userId;

if (!userId) {
  return Astro.redirect("/login");
}

const existingUser = await db.query.users.findFirst({
  where: eq(users.id, userId),
  with: {
    recoveryCodes: {
      where: eq(recoveryCodes.isUsed, false),
      columns: {
        code: true,
      },
    },
  },
});

if (!existingUser) {
  return Astro.redirect("/login");
}
---

<MainLayout title="Recovery Code" description="Recovery Code">
  <h1 class="my-10 text-3xl font-bold text-center">Recovery Code</h1>

  {
    existingUser.recoveryCodes.length === 0 && (
      <div class="flex flex-col items-center justify-center">
        <p class="mt-5 mb-3 text-center">
          Enable Two Factor Auth to Set up Recovery Codes
        </p>

        <a href="/account" class="bg-blue-600 px-4 py-2 text-white rounded-md">
          Go to Account Page
        </a>
      </div>
    )
  }

  <div class="w-full max-w-xl mx-auto flex flex-col">
    <div class="flex items-center gap-3">
      <h3 class="my-5 text-xl font-bold">Exisiting Codes</h3>
      <a
        href="/api/auth/download-recovery-codes"
        class="bg-blue-700 text-white rounded-md px-3 py-1"
      >
        Download Code
      </a>
      <button
        id="rotate-code"
        class="bg-red-700 text-white rounded-md px-3 py-1"
      >
        Rotate Code
      </button>
    </div>
    {
      existingUser.recoveryCodes.map((code) => (
        <p>{aesDecrypt(code.code, EncryptionPurpose.RECOVERY_CODE)}</p>
      ))
    }
  </div>
</MainLayout>

<script>
  const rotateCodeBtn = document.getElementById("rotate-code");
  const handleRotateCode = async () => {
    await fetch("/api/auth/rotate-recovery-codes", {
      method: "POST",
    });

    window.location.reload();
  };
  rotateCodeBtn?.addEventListener("click", handleRotateCode);
</script>
