---
import MainLayout from "../../layout/main-layout.astro";
import SignupForm from "../../components/signup-form";
---

<MainLayout title="Sign up" description="Signup">
  <div class="flex h-[400px] items-center justify-center flex-col">
    <h1 class="text-3xl font-bold">Sign up</h1>
    <SignupForm client:load />
  </div>
</MainLayout>
